/*
BODY, TABLE, TH, TR, TD, UL, OL, LI, P, A, BLOCKQUOTE, LABEL { 
	font-family: Tahoma, Verdana, Arial, Helvetica; 
	color: #000000; font-size: 12px;
}
a.HeaderLink:link,a.HeaderLink:visited { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 10px;
	text-decoration: none; 
}
a.HeaderLink:hover,a.HeaderLink:active {
	 font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 10px;
	 text-decoration: underline; 
}
*/

/*form*/
/*
.Button {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 11px; font-weight: bold;
	background-color: #ededed; border: solid 1px #787878; padding: 2px;
}
.Input {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: 1px solid #000000; 
}
*/
	  
/*old style*/
.PrintTable { border-collapse: collapse; }
.FormTable { border: 1px solid #D9D9D9; }		  
.BoxTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border: 1px solid #000000;
}
.CaptionTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px; font-weight: bold;
	border-bottom: 1px solid #D8D8D8; background-color: #EDEDED; 
}
.DataTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-bottom: 1px solid #D8D8D8; 
}
.AltDataTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-bottom: 1px solid #D8D8D8; border-right: 1px solid #D1D1D1;
}
.ColumnTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-bottom: 1px solid #D8D8D8; background-color: #DADADA;
}
.ErrorTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #ff0000; font-size: 12px;
	border-bottom: 1px solid #D8D8D8;
}
.FieldCaptionTD {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px; font-weight: bold;
}
.FieldTD { 
	font-family: Tahoma, Verdana, Arial, Helvetica; 
	color: #000000; font-size: 12px;
}
.HeaderTD {
	 font-family: Tahoma, Verdana, Arial, Helvetica;
	 color: #000000; font-size: 10px; font-weight: bold; 
}
.underlineTD { 
	font-family: Tahoma, Verdana, Arial, Helvetica; 
	color: #000000; font-size: 12px;
	border-bottom: 1px solid #000000; 
}
.HeaderFont {
	 font-family: Tahoma, Verdana, Arial, Helvetica;
	 color: #000000; font-size: 16px; font-weight: bold; 
}
	  
/*new style, used in chart*/
/*
.Grid { border: 1px solid #787878; width: 100%; }
.Caption th { text-align: left; vertical-align: top; padding: 3px; border-right: 1px solid #FFFFFF; background-color: #d7d7d7; color: #000000; white-space: nowrap; }
.Caption td { text-align: left; vertical-align: top; padding: 3px; border-right: 1px solid #FFFFFF; background-color: #d7d7d7; color: #000000; white-space: nowrap; }
.Record { border: 1px solid #787878; width: 100%; }
.Controls th { text-align: left; vertical-align: top; padding: 3px; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; background-color: #f7f7f7; color: #000000; white-space: nowrap; color: #000000; }
.Controls td { padding: 3px; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; text-align: left; vertical-align: top; background-color: #f7f7f7; color: #000000; }
 .Row th { text-align: left; vertical-align: top; padding: 3px; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; background-color: #f7f7f7; color: #000000; white-space: nowrap; color: #000000; }
.Row td { padding: 3px; border-right: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; text-align: left; vertical-align: top; background-color: #f7f7f7; color: #000000; }
*/
 	  
/*poamendment*/	  
.SeparatorROW { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-bottom: 1px solid #000000; 
}
.SeparatorROWb { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-bottom: 5px solid #000000;
}
.SeparatorROWt { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-top: 5px solid #000000;
}
.SeparatorR {	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
}
.SeparatorRHT { 	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000;
}
.SeparatorRHT2 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; border-bottom: 1px solid #000000;
}
.SeparatorRHT2b { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #FFFFFF; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #000000; 
}
.SeparatorRHTLFT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; border-left: 1px solid #000000; border-bottom: 1px solid #000000; 
}
.SeparatorRHTLFT2 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 5px solid #000000; border-left: 5px solid #000000; border-bottom: 1px solid #000000; 
}
.SeparatorRHTLFTb { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; border-left: 5px solid #000000; border-bottom: 1px solid #000000;
}
.SeparatorRHTbLFT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; border-right: 5px solid #000000; border-bottom: 1px solid #000000;
}
.SeparatorBOT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-bottom: 1px solid #000000;
}
.SeparatorLFT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-left: 1px solid #000000;
}

/*sdg*/
.FieldBorderBottom { 	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-bottom: 1px solid #000000;
}
.FieldBorderBottomRightTop {	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-bottom: 1px solid #000000; border-right: 1px solid #000000; border-top: 1px solid #000000;  
}
.FieldBorderBottomRight {	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-bottom: 1px solid #000000; border-right: 1px solid #000000;  
}
.FieldBorderBottomTop {	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-bottom: 1px solid #000000; border-top: 1px solid #000000;  
}
.FieldBorderRight { 	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-right: 1px solid #000000;
}
.FieldBorderRightTop {	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-right: 1px solid #000000; border-top: 1px solid #000000;  
}
.FieldBorderTop { 	
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; 
	border-top: 1px solid #000000;
}
	  
/*po*/
.HeaderFont8 { 
	font-family: Verdana;
	color: #000000; font-size: 8px; 
}
.HeaderFont10 { 
	font-family: Verdana;
	color: #000000; font-size: 10px; 
}
.HeaderFont18 { 
	font-family: Verdana;
	color: #000000; font-size: 18px; font-weight: bold; 
}
.HeaderFont24 { 
	font-family: Verdana;
	color: #000000; font-size: 24px; font-weight: bold; 
}
.HeaderFont26 { 
	font-family: Verdana;
	color: #000000; font-size: 26px; font-weight: bold; 
}
.HeaderFont32 { 
	font-family: Verdana;
	color: #000000; font-size: 32px; font-weight: bold; 
}
.HeaderFontW { 
	font-family: Verdana;
	color: #000000; font-size: 16px; font-weight: bold; 
}
.HeaderFontW18 { 
	font-family: Verdana;
	color: #ffffff; font-size: 18px; font-weight: bold; 
}
.HeaderFontW24 { 
	font-family: Verdana;
	color: #ffffff; font-size: 24px; font-weight: bold; 
}
.HeaderFontW26 { 
	font-family: Verdana;
	color: #ffffff; font-size: 26px; font-weight: bold; 
}		  
.BorderTable { border: 1px solid #000000; }
.BoxTD3 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border: 3px solid #000000; 
}
.BoxTDB { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #ffffff; font-size: 12px; 
	border: 3px solid #000000; background-color: #000000; 
}
.BoxLR { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-left: 1px solid #000000; border-right: 1px solid #000000; }
.BoxT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-top: 1px solid #000000; padding: 3px; }
.BoxLRT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	border-left: 1px solid #000000; border-right: 1px solid #000000; border-top: 1px solid #000000; padding: 3px; }
.SeparatorHeaderR { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-bottom: 1px solid #000000;
}
.SeparatorHeaderRHT { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; border-bottom: 1px solid #000000; 
}

/*catalog*/
.txthighlight { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	background-color: #FFFF00; 
}
.txthighlight2 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #FFFFFF; font-size: 12px;
	background-color: #FF0000; 
}
.ColumnLineR { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 16px;
	padding: 5px; border-right: 1px solid #000000; 
}
.ColumnLineL { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #FFFFFF; font-size: 16px;
	padding: 5px; border-left: 1px solid #FFFFFF; 
}
.ColumnLineFieldR { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-right: 1px solid #000000; 
}
.ColumnLineFieldL { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 12px;
	padding: 3px; border-left: 1px solid #FFFFFF; 
}
.ButtonInvisible { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #25257c; font-size: 12px; font-weight: bold;
	background-color: #25257c; border: 0px; padding: 2px; 
}

/*DataPAI*/
.DataPAIButton { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 16px; font-weight: bold;
	background-color: #ececec;  border: solid 1px #777777; padding: 5px;
	height: 30px; 
	/*width: 45px;*/
}
.DataPAIInput {
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 16px;
	height: 25px; 	
}
.DataPAITable { 
	padding: 1px;
	border-spacing: 1px; 
}
.DataPAITD {
	padding: 0px 7px 0px 7px;	
}

/* Rachel's */
.SensorBody {width: 970px; /**width in px, % or ems**/ background: #333; margin:0 auto; /**centers on screen**/
}
.ImageCentering{ float: right; width: auto; border: 0px; padding: 0px }
.SensorFormTable { width: 400; text-align: left; padding: 5px 5px 5px 5px; border: 1px solid #FFFFFF; border-collapse: separate; border-spacing: 1px }
.SensorCaptionTD { border-bottom: 1px solid #FFFFFF; background-color: #005d99; font-size: 12px; font-weight: bold; color: #FFFFFF; text-align: center; padding: 7px 7px 7px 7px ;
 }
.SensorDataTD { border-bottom: 1px solid #FFFFFF; font-size: 12px; text-align: center; color:#000000; padding: 7px 7px 7px 7px; background-color: #EFEFEF}
.SensorDescription { font-size: 12px; text-align: center; color:#888888; padding: 5px;  border-spacing: 3px; width: 400px  }
.SensorFigureTitle { background-color: #005d99; font-size: 16px; font-weight: bold; color: #FFFFFF; text-align: center; }
.SensorFigureNumber { background-color: #000000; font-size: 11px; color: #FFFFFF; text-align: right; }
.SensorKeyFormatting { border-style: none; align-content: left; font-size: 12px; font-weight: bold; color:#000000}
.SensorGrayKeyFormatting { border-style: none; background-color: #9d9d9d; align-content: left; font-size: 12px; font-weight: bold; color:#000000}

/*print label*/
.FieldCaptionTD16 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 16px; font-weight: bold; 
}
.FieldTD16 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 16px; 
}
.FieldCaptionTD14 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 14px; font-weight: bold; 
}
.FieldTD14 { 
	font-family: Tahoma, Verdana, Arial, Helvetica;
	color: #000000; font-size: 14px; 
}
